<div class="list-group selected">
  <a href="#" class="list-group-item">
    <h3 class="list-group-item-heading center">Add new product for auction</h3>
  </a>
</div>

<%= render 'form', auction: @auction %>
