<div class="footer">
    <div class="foter-icons footer-item ">
        <a href="https://www.instagram.com/gkc_3/"><img class="footer-icons" src="app/assets/images/instagram.png" alt=""></a>
        <a href="https://github.com/gaurav-chaurasia"><img class="footer-icons" src="app/assets/images/github.png" alt=""></a>
        <a href="https://www.linkedin.com/in/gaurav-chaurasia/"><img class="footer-icons" src="app/assets/images/linkedin.png" alt=""></a>
        <a href="https://www.facebook.com/profile.php?id=100008466213205"><img class="footer-icons" src="app/assets/images/facebook.png" alt=""></a>
    </div>
    <div class="footer-item">Copyright &copy;2020 All rights reserved</div>
</div>